*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(270deg, #001024 0%, #002555 50%, #001024 100%);
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

/* ********** HEADER ********** */

.header {
  padding-top: 37px;
  margin-bottom: 73px;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 70px;
}

.menu-list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 400;
}

.menu-list-link {
  padding: 4px;
  color: #ffffff;
}

.menu-list,
.menu-list-link {
  transition: font-weight 0.3s ease-in, color 0.4s ease-in;
}

.menu-list:hover,
.menu-list-link:hover {
  font-weight: 600;
  color: #ffe251;
}

.menu-btn {
  display: none;
}

/* ********** HERO ********** */

.hero {
  position: relative;
  background-image: url('../images/hero-gift.svg');
  background-repeat: no-repeat;
  background-position: right 28px center;
  margin-bottom: 170px;
}

.hero-title {
  font-weight: 900;
  font-size: 116px;
  line-height: 0.9;
  text-transform: uppercase;
  width: 431px;
  height: 200px;
  margin-bottom: 24px;
}

.hero-promotion {
  position: absolute;
  left: 395px;
  top: 87px;
}

.hero-title-bottom {
  font-size: 106px;
  line-height: 0.8;
}

.hero-text {
  width: 426px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
  background-color: #e50103;
  border-radius: 8px;
  padding: 10px 27px 14px;
  margin: 0 145px 38px 8px;
}

.hero-suggestion {
  width: 579px;
}
.hero-suggestion-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 15px;
  column-gap: 27px;
}

.hero-suggestion-item {
  width: 175px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
  padding: 6px 0 6px 45px;
  backdrop-filter: blur(12.098480224609375px);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 9px;
  background-repeat: no-repeat;
  background-position: 9px center;
  user-select: none;
  transition: 0.5s ease-in-out;
}

.frontend {
  background-image: url('../images/frontend.svg');
}

.python {
  background-image: url('../images/python.svg');
}

.qa-manual {
  background-image: url('../images/qa-manual.svg');
}

.full-stack {
  background-image: url('../images/full-stack.svg');
}

.c-sharp {
  background-image: url('../images/c-sharp.svg');
}

.hidden {
  visibility: hidden;
}

.java {
  background-image: url('../images/java.svg');
}

.hero-suggestion-item:hover {
  background-color: #8394b0;
}

/* ********** BENEFITS ********** */

.benefits {
  margin-bottom: 170px;
}

.sections-title {
  font-weight: 900;
  font-size: 70px;
  line-height: 0.9;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 70px;
}

.benefits-items {
  display: flex;
  justify-content: space-between;
}

.benefits-item {
  width: 270px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.1);
  padding: 150px 12px 30px;
  text-align: center;
  background-size: 0, 100px 100px;
  background-repeat: no-repeat;
  background-position: top 30px center;
}

.find {
  background-image: url('../images/benefits-ellips-bg.svg'), url('../images/benefits-bg-1.svg');
}

.money {
  background-image: url('../images/benefits-ellips-bg.svg'), url('../images/benefits-bg-2.svg');
}

.world {
  background-image: url('../images/benefits-ellips-bg.svg'), url('../images/benefits-bg-3.svg');
}

.home {
  background-image: url('../images/benefits-ellips-bg.svg'), url('../images/benefits-bg-4.svg');
}

.benefits-item:hover {
  background-size: 100px 100px, 100px 100px;
  background-color: #f03131;
}

.benefits-item-subtitle {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.3;
  margin-bottom: 20px;
}

.benefits-item-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
}

/* ********** specialties ********** */

.specialties {
  margin-bottom: 170px;
}

.specialties-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

.specialties-item {
  border-radius: 20px;
  width: 370px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.15);
  background-color: rgba(255, 255, 255, 0.1);
  padding: 15px 30px 30px;
}

.specialties-subtitle {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.3;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center right;
  padding: 11px 0;
}

.spec-frontend {
  background-image: url('../images/spec-frontend.svg');
}

.spec-c-sharp {
  background-image: url('../images/spec-c-sharp.svg');
}

.spec-java {
  background-image: url('../images/spec-java.svg');
}

.spec-python {
  background-image: url('../images/spec-python.svg');
}

.spec-full-stack {
  background-image: url('../images/spec-node.svg');
}

.spec-qa-manual {
  background-image: url('../images/spec-qa-manual.svg');
}

.specialties-text-top {
  font-weight: 700;
  margin-bottom: 21px;
}

.specialties-text {
  font-weight: 400;
  margin-bottom: 21px;
  height: 78px;
}

.specialties-text-bottom {
  font-weight: 400;
  margin-bottom: 30px;
}

.specialties-item p {
  font-size: 20px;
  line-height: 1.3;
}

.specialties-text-accent {
  font-weight: 700;
}

.specialties-btn {
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #fff;
  border: 2px solid #e50103;
  border-radius: 100px;
  padding: 12px 26px;
  background-color: transparent;
  width: 100%;
  cursor: pointer;
}

.specialties-btn:hover {
  background-color: #e50103;
}

/* ********** consultations ********** */

.consultations {
  background-image: url('../images/cons-arrow-ellow.svg'), url('../images/cons-arrow-red.svg'),
    url('../images/cons-bg.svg');
  background-repeat: no-repeat;
  background-position: center bottom 74px, center bottom 14px, right 79px top 88px;
}

.consultation-title {
  font-weight: 900;
  font-size: 70px;
  line-height: 0.9;
  text-transform: uppercase;
  margin-bottom: 60px;
}

.consultation-title-accent {
  color: #ffd000;
}

.consultations-form {
  width: 415px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding-bottom: 365px;
}

.consultations-form-input {
  padding: 22px 10px 22px 27px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 1000px;
  outline: none;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.4;
  color: #fff;
  opacity: 0.5;
}

.consultations-form-btn {
  border: 2px solid #e50103;
  border-radius: 1000px;
  background-color: transparent;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.4;
  /* text-align: center; */
  color: #fff;
  padding: 17px 17px 19px;
  /* margin-bottom: 365px; */
}

/* ********** footer ********** */

footer {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer {
  padding: 50px 0;
}

.footer-title {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 30px;
}

.footer-inner {
  display: flex;
  justify-content: space-between;
}

.common-information {
  width: 308px;
}

.common-information .logo {
  margin-bottom: 30px;
}

.footer-text {
  font-style: 20px;
  margin-bottom: 76px;
}

small {
  display: block;
  font-size: 13px;
  line-height: 14px;
}

.footer-contacts {
  width: 286px;
}

.contacts-link {
  display: block;
  background-repeat: no-repeat;
  padding: 5px 0 5px 50px;
  margin-bottom: 14px;
}

.tel {
  background-image: url('../images/footer-phone.svg');
}

.site {
  background-image: url('../images/footer-www.svg');
}

.tg {
  background-image: url('../images/footer-la_telegram.svg');
}

.email {
  background-image: url('../images/footer-mail.svg');
}

.footer-social {
  width: 256px;
}

.footer-social-list {
  display: flex;
  justify-content: space-between;
}

.social-link {
  display: block;
  width: 32px;
  height: 32px;
}

.instagram {
  background-image: url('../images/social-instagram.svg');
}

.facebook {
  background-image: url('../images/social-facebook.svg');
}

.youtube {
  background-image: url('../images/social-youtube.svg');
}

.linkedin {
  background-image: url('../images/social-linkedin.svg');
}

.telegram {
  background-image: url('../images/social-telegram.svg');
}

.arrow-to-top {
  width: 64px;
  height: 64px;
  margin-left: auto;
  margin-top: 74px;
  display: block;
  background-image: url(../images/footer-arrow.svg);
}

@media screen and (max-width: 980px) {
  .menu-list {
    gap: 30px;
  }
}

@media screen and (max-width: 920px) {
  .menu-list {
    width: 380px;
    flex-wrap: wrap;
    row-gap: 8px;
  }
  .menu-list-link {
    display: flex;
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 768px) {
  .menu-list {
    width: 360px;
  }
}
