*,
::before,
::after {
  box-sizing: border-box;
}

body {
  background: linear-gradient(270deg, #001024 0%, #002555 50%, #001024 100%);
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  color: #ffffff;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
p {
  margin: 0;
}

/* ********** HEADER ********** */

.header {
  padding-top: 50px;
  margin-bottom: 90px;
  display: flex;
  align-items: center;
}

.menu {
  width: 715px;
  margin-left: auto;
}

.menu-list {
  display: flex;
  gap: 40px;
}

.menu-list-link {
  line-height: 22px;
  transition: font-weight 0.5s ease-in-out;
}

.menu-list-link:hover {
  font-weight: 600;
  color: #ffe251;
}

/* ********** HERO ********** */

.hero {
  position: relative;
  background-image: url('../images/hero-gift.svg');
  background-repeat: no-repeat;
  background-position: right 28px center;
  margin-bottom: 170px;

  /* background-image: url('../images/hero-gift.svg'), url(../images/hero-promotion.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: right 28px center, left 395px top 85px; */
}

.hero-title {
  font-weight: 900;
  font-size: 116px;
  line-height: 0.9;
  text-transform: uppercase;
  width: 431px;
  height: 200px;
  margin-bottom: 24px;
}

.hero-promotion {
  position: absolute;
  left: 395px;
  top: 87px;
}

.hero-title-bottom {
  font-size: 106px;
  line-height: 0.8;
}

.hero-text {
  width: 426px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
  background-color: #e50103;
  border-radius: 8px;
  padding: 10px 27px 14px;
  margin: 0 145px 38px 8px;
}

.hero-suggestion {
  width: 579px;
}
.hero-suggestion-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 15px;
  column-gap: 27px;
}

.hero-suggestion-item {
  width: 175px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
  padding: 6px 0 6px 45px;
  backdrop-filter: blur(12.098480224609375px);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 9px;
  background-repeat: no-repeat;
  background-position: 9px center;
  user-select: none;
  transition: 0.5s ease-in-out;
}

.frontend {
  background-image: url('../images/frontend.svg');
}

.python {
  background-image: url('../images/python.svg');
}

.qa-manual {
  background-image: url('../images/qa-manual.svg');
}

.full-stack {
  background-image: url('../images/full-stack.svg');
}

.c-sharp {
  background-image: url('../images/c-sharp.svg');
}

.hidden {
  visibility: hidden;
}

.java {
  background-image: url('../images/java.svg');
}

.hero-suggestion-item:hover {
  background-color: #8394b0;
}

/* ********** BENEFITS ********** */

.benefits {
  margin-bottom: 170px;
}

.sections-title {
  font-weight: 900;
  font-size: 70px;
  line-height: 0.9;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 70px;
}

.benefits-inner {
  display: flex;
  justify-content: space-between;
}

.benefits-item {
  border-radius: 20px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.15);
  width: 270px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 30px 12px;
  text-align: center;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.benefits-item:hover {
  background-color: #f03131;
}

.benefits-img-inner {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #f03131;
  margin: 0 auto 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.benefits-subtitle {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.3;
  margin-bottom: 20px;
}

.benefits-text {
  font-weight: 500;
}

/* ********** specialties ********** */

.specialties {
  margin-bottom: 170px;
}

.specialties-inner {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.specialties-item {
  border-radius: 20px;
  width: 370px;
  /* height: 401px; */
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.15);
  background-color: rgba(255, 255, 255, 0.1);
  /* padding: 26px 30px 31px; */
  /* padding-left: 30px; */
  /* padding-bottom: 31px; */
  /* background-image: url('../images/frontend.svg');
  background-repeat: no-repeat;
  background-position: right 24px top 24px;
  background-size: 60px; */
}

.specialties-inner-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  margin-bottom: 4px;
}

.specialties-img {
  width: 108px;
  height: 108px;
  background-repeat: no-repeat;
  background-position: center;
  /* background-image: url('../images/frontend.svg'); */
  /* background-size: 60px; */
}

.frontend-size {
  background-size: 60px;
}

.c-sharp-size {
  background-size: 64px;
}

.java-size {
  background-size: 54px 70px;
}

.python-size {
  background-size: 60px;
}

.full-stack-node {
  background-image: url('../images/node.svg');
}
.full-stack-size {
  background-size: 83px 47px;
}

.qa-manual-size {
  background-size: 57px;
}

.qa {
  margin-top: 25px;
  margin-bottom: 27px;
  margin-right: 22px;
}

.specialties-img-qa {
  width: 57px;
  height: 57px;

  background-repeat: no-repeat;
  background-position: center;
}

.specialties-inner-bottom {
  padding: 0 30px 31px;
}
/* .specialties-subtitle-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4px;
} */

/* .specialties-img {
  width: 108px;
  height: 108px;
  background-image: url('../images/frontend.svg');
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 60px;
} */

.specialties-subtitle {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.3;
  /* margin-bottom: 31px; */
}

.specialties-text-top {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.3;
  margin-bottom: 21px;
}

.specialties-text,
.specialties-text-bottom {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.3;
  margin-bottom: 21px;
}

.specialties-text-bottom {
  margin-bottom: 30px;
}

.specialties-text-accent {
  font-weight: 700;
}

.specialties-link {
  display: block;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  padding: 16px 93px;
  border: 2px solid #e50103;
  border-radius: 100px;
  background-color: transparent;
  transition: 0.5s ease-in-out;
}

.specialties-link:hover {
  background-color: #e50103;
}

/* ********** consultations ********** */

.consultations {
  background-image: url('../images/cons-arrow-ellow.svg'), url('../images/cons-arrow-red.svg'),
    url('../images/cons-bg.svg');
  background-repeat: no-repeat;
  background-position: center bottom 74px, center bottom 14px, right 79px top 88px;
}

.consultation-title {
  font-weight: 900;
  font-size: 70px;
  line-height: 0.9;
  text-transform: uppercase;
  margin-bottom: 60px;
}

.consultation-title-accent {
  color: #ffd000;
}

.consultations-form {
  width: 415px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 693px;
}

.consultations-form-input {
  padding: 22px 10px 22px 27px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 1000px;
  outline: none;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.4;
  color: #fff;
  opacity: 0.5;
}

/* .input-name {
  padding: 22px 10px 22px 27px;
}

.input-tel {
} */

/* .consultations-form-input::placeholder {
} */

.consultations-form-btn {
  border: 2px solid #e50103;
  border-radius: 1000px;
  background-color: transparent;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.4;
  /* text-align: center; */
  color: #fff;
  padding: 17px 17px 19px;
  margin-bottom: 365px;
}
